set -e
set +u
dotenv_if_exists
watch_file .env
PATH_add bin

# UNCOMMENT WHILE working on nix derivations
# system="$(nix eval --impure --raw --expr 'builtins.currentSystem')"
# devshell="${DIRENV_DEVSHELL:-default}"
#
# if command -v nom &> /dev/null && [ -t 0 ]; then
#   # if nom is available, build the devshell dependencies with it to get nicer
#   # progress monitoring. Don't do this when stdout is piped, because it shows
#   # up weird in engage.
#   nom build ".#devShells.$system.$devshell"
# fi
#
# use flake ".#$devshell"

# or plain - faster
use flake
