configuration {
disable-history: false;
display-combi: " 🖥️  All ";
display-run: " 🏃  Run ";
display-window: " 🪟  Window";
drun-display-format: "{icon} {name}";
hide-scrollbar: true;
icon-theme: "Oranchelo";
location: 0;
modi: "run,window,combi";
show-icons: true;
sidebar-mode: true;
terminal: "kitty";
xoffset: 0;
yoffset: 0;
}
//@theme "/home/k/.nix-profile/share/rofi/themes/sidebar.rasi"
@theme "/home/k/.config/rofi/themes/sidebar.rasi"
